 <svg xmlns="http://www.w3.org/2000/svg" x="0px" y="0px" width="970px"
   viewBox="0 0 792 612" style="enable-background:new 0 0 792 612;" xml:space="preserve" preserveAspectRatio="xMidYMid meet">
      <g id="Existing" class="" style="position:relative; z-index:4; "><image xlink:href="./assets/photos/raster-map.jpg" x="0" y="0" width="100%" height="100%" transform="scale(1)"></g>

      <g id="offshore" data-name="Offshore" class="" style="position:absolute; top:0; left:0; z-index:2; opacity:0"><image xlink:href="./assets/photos/offshore-map.png" x="0" y="0" width="100%" height="100%" transform="scale(1)"></g>

      <g id="northern_residents" data-name="Northern Residents" class="" style="position:absolute; top:0; left:0; z-index:3; opacity:0"><image xlink:href="./assets/photos/northern-map.png" x="0" y="0" width="100%" height="100%" transform="scale(1)"></g>

      <g id="southern_residents" data-name="Southern Residents" class="" style="position:absolute; top:0; left:0; z-index:10; opacity:0"><image xlink:href="./assets/photos/southern-map.png" x="0" y="0" width="100%" height="100%" transform="scale(1)"></g>

      <g id="transients" data-name="Transients" class="" style="position:absolute; top:0; left:0; z-index:1; opacity:0"><image xlink:href="./assets/photos/transient-map.png" x="0" y="0" width="100%" height="100%" transform="scale(1)"></g>
     
      <g id="three_types" data-name="Three Types" class="" style="position:absolute; top:0; left:0; z-index:1; opacity:0"><image xlink:href="./assets/photos/transient-map.png" x="0" y="0" width="100%" height="100%" transform="scale(1)"></image><image xlink:href="./assets/photos/southern-map.png" x="0" y="0" width="100%" height="100%" transform="scale(1)"></image><image xlink:href="./assets/photos/northern-map.png" x="0" y="0" width="100%" height="100%" transform="scale(1)"></image><image xlink:href="./assets/photos/offshore-map.png" x="0" y="0" width="100%" height="100%" transform="scale(1)"></image></g>
      </svg>
    
      