<!doctype html>
<html lang="en-US">
  <head>
  <meta property="og:image" content="https://projects.seattletimes.com/2018/orcas-in-peril/assets/social.jpg" />
    <%= t.include("partials/_head.html", grunt.data.json) %>
    <link rel="stylesheet" type="text/css" href="style.css">
  </head>
  <body>

    <%= t.include("partials/_nav.html") %>
    <%= t.include("partials/_ad.html", { type: "banner" }) %>

    <main class="content text-block">

    

    <header class="splash">

    <video src="./assets/video/0-ns-opening.mp4" autoplay playsinline loop muted>
    </video><div class="caption">Southern resident orcas cruise near San Juan Island last July. Supreme predators in the Salish Sea for thousands of years, they are now threatened with extinction. (Ramon Dompor / The Seattle Times)</div>
    
    <img class="headline" src="./assets/hostileWaters.svg" alt="HOSTILE WATERS, Orcas in peril">
    
    </header>
 
    
    <div class="byline constrained">
          Story by <a class="name" href="https://www.seattletimes.com/author/lynda-v-mapes/" taget="blank">Lynda V. Mapes</a> |
          Photographs by <a class="name" href="https://www.seattletimes.com/author/steve-ringman/" taget="blank">Steve Ringman</a> <hr style="width:30%">
          Videos by <a class="name" href="https://www.seattletimes.com/author/ramon-dompor/" taget="blank">Ramon Dompor</a> | Graphics by <a class="name" href="https://www.seattletimes.com/author/eeng/" target="blank">Emily M. Eng</a>
          <hr style="width:30%">
          <div class="staff">Seattle Times staff</div>
          <div class="date">Published November 11, 2018</div>
    </div>
   
    <div class="constrained">
        <%= t.renderMarkdown(archieml.story.section0) %>

    </div>
    
    <video src="./assets/video/2-ns-southern-residents.mp4" autoplay playsinline loop muted>
    </video>
    <div class="caption">J pod orcas swim off San Juan Island last summer. Scientists aboard a boat are attempting to feed live fish to J50, the small whale, to determine if fish can be used to administer medication to her. (John Gussman / NOAA Fisheries, under NMFS Research Permit 18786)</div>
    
    <div class="constrained">    
        <%= t.renderMarkdown(archieml.story.section1) %>
    </div>
   
        <div class="smallContainer">
        <img src="./assets/photos/hostileWaters_breach.jpg">
        <div class="caption">Poking a head above the waves, a northern resident orca is at home in his kingdom of green. The northern resident population has been growing at 2.2 percent a year on average for the past 40 years. (Steve Ringman/The Seattle Times)</div>
        </div>


    

    <div class="constrained"> 
<div class="aside">
        <h3>ABOUT  <br/>THIS SERIES</h3>
        <p>In the weeks and months ahead, The Seattle Times’ “<a href="https://www.seattletimes.com/seattle-news/environment/hostile-waters-orcas-killer-whale-puget-sound-washington-canada/" targe="_blank">Hostile Waters</a>” series will continue to explore and expose the plight of the southern resident killer whales, among the most-enduring symbols of our region and most-endangered animals. We’ll examine the role humans have played in their decline, what can be done about it and why it matters.</p>
    </div>

        <%= t.renderMarkdown(archieml.story.section2) %>
    </div>


    <img src="./assets/photos/hostileWaters_northern_spong.jpg">
    <div class="caption">Paul Spong founded OrcaLab in 1970 to document the daily lives — and spectacular sounds — of the northern resident orcas. (Steve Ringman/The Seattle Times) </div>
    
    <div class="constrained">
        <%= t.renderMarkdown(archieml.story.section3) %>
    </div>
    
        <div class="smallContainer">
            <img src="./assets/photos/hostileWaters_northern_dolphins.jpg">
            <div class="mediaContainer">
                <div class="mediaContainer-item">
                <img src="./assets/photos/hostileWaters_rockyshore.jpg">
                </div>
                <div class="mediaContainer-item">
                <img src="./assets/photos/hostileWaters_northern_old_cedar.jpg">
                </div>
            </div>
            <div class="caption">Pacific white-sided dolphins seem to fly as they skim the surface northeast of Vancouver Island. The environment of the northern residents is more like Puget Sound used to be. (Steve Ringman/The Seattle Times)</div>
        </div>

    <div class="constrained">
        <%= t.renderMarkdown(archieml.story.section4) %>
    </div>
    
    <img src="./assets/photos/hostileWaters_northern_dorsalpair.jpg">
    <div class="caption">Called the side-by-side tribe by the Namgis First Nation, northern resident orcas have the same close family bonds and culture as southern residents. Families, led by the matriarchs of the clan, stay together for life. (Steve Ringman/The Seattle Times)</div>
    
    <div class="constrained">
        <%= t.renderMarkdown(archieml.story.section5) %>
    </div>

    <div class="smallContainer">
        <video src="./assets/video/1-ns-rubbing.mp4" autoplay playsinline loop muted>
        </video>
        <div class="caption">Robson Bight (Michael Bigg) Ecological Reserve includes a favorite beach of the orcas as well as an important salmon stream and the upland forest that protects it. (Courtesy of Explore.Org)</div>
    </div>
    
    <div class="constrained">
        <%= t.renderMarkdown(archieml.story.section6) %>
    </div>
    
    <video src="./assets/video/3-ns-J35.mp4" autoplay playsinline loop muted>
    </video>
    <div class="caption">In scenes from July, Tahlequah, or J35, swims alone and to the left of a family member as she carries her dead calf on her head along the west side of San Juan Island. (Michael Weiss / University of Exeter, courtesy of the Center for Whale Research, under NOAA permit 21238)</div>

    <div class="constrained">
        <%= t.renderMarkdown(archieml.story.section7) %>
    </div>
</main>
<!---->
<section class="text-block project-head" id="projects">
      <div class="constrained">
        
      </div>
    </section>
    <section class="scroll-content">
      

      <div class="first layer">
        <h2>Killer whales, the oceans' top predator</h2>
        <p>Killer whales are the most widely distributed whales in the world and found in every ocean. Three orca ecotypes reside in the waters of the northern Pacific Coast. While their ranges overlap, they are not known to interact, and each ecotype is genetically distinct.</p>
        <img src="./assets/photos/north-south-orcas-M-map.jpg">
      </div>

<div class="layer">
       <img src="./assets/photos/north-south-orcas-M-main.png">
        
        </div>
<div class="layer">
        <img src="./assets/photos/north-south-orcas-M-charts.png">
        
        </div>

    </section>


    <main class="content text-block">

    
    <div class="constrained">
        <div class="aside">
        <h3>LEARN MORE</h3>
        <p>Explore a <a href="https://www.seattletimes.com/seattle-news/environment/an-orca-glossary-terms-you-should-know/" target="_blank">glossary of orca terms</a> and our <a href="https://www.seattletimes.com/seattle-news/environment/books-and-resources-about-orcas/" target="_blank">orca reading list.</a></p>
    </div>

        <%= t.renderMarkdown(archieml.story.section8) %>
    </div>

   
    <div class="smallContainer">
       <img src="./assets/photos/hostileWaters_rubbing.jpg">
       <div class="caption">Northern residents enjoy a sanctuary created just for them, where the whales enjoy rubbing their bodies on the smooth stones of the beach. (Image courtesy of Explore.Org)
        </div>
    </div>
    <div class="constrained">
     <div class="aside-text">
        <h3>TEXT US</h3>
        <p>You can text with us about this project and get additional coverage from the series. Text ORCA to <a href="sms:1-206-429-4613">206-429-4613</a> to join the conversation.</p>
    </div>
    <iframe style="min-height: 225px; width: 100%; max-width: 720px" frameborder="no" scrolling="no" src="https://app.groundsource.co/surveys/textsms/12064294613/ORCA/?font=arial&button=000000"></iframe></div>
    
    <div class="constrained">  
       

        <%= t.renderMarkdown(archieml.story.section9) %>
    </div>
        <div class="smallContainer">
            <img src="./assets/photos/hostileWaters_northern_lookout.jpg">
            <div class="caption">Volunteers on their tiny observation platform monitor the northern residents from the most remote outpost of OrcaLab, on Cracroft Point above Johnstone Strait. (Steve Ringman/The Seattle Times)</div>
        </div>

    <div class="constrained">
        <%= t.renderMarkdown(archieml.story.section10) %>
    </div>

    <div class="smallContainer">
        <img src="./assets/photos/hostileWaters_southern_ferry.jpg">
        <div class="mediaContainer">
            <div class="mediaContainer-item-breach">
                <img src="./assets/photos/hostileWaters_southern_pod_breach.jpg">
            </div>
            <div class="mediaContainer-item">
                <img src="./assets/photos/hostileWaters_southern_three.jpg">
            </div>
        </div>
        <div class="caption">A state ferry pauses in its route to let passengers enjoy orcas frolicking nearby. Such sweet slices of life are increasingly rare in the San Juan Islands in summer as the southern resident orca population declines and the whales spend more time elsewhere searching for food. (Steve Ringman/The Seattle Times)</div>
    </div>

    <div class="constrained">
        <%= t.renderMarkdown(archieml.story.section11) %>
    </div>

    <div class="smallContainer">
        <img src="./assets/photos/hostileWaters_duwamish_elliottbay.jpg">
        <div class="caption">Massive alteration and degradation of the Puget Sound ecosystem is pushing the southern resident orcas to extinction. (Steve Ringman/The Seattle Times)</div>
    </div>

    <div class="constrained">
        <%= t.renderMarkdown(archieml.story.section12) %>
    </div>

    <img src="./assets/photos/hostileWaters_tahlequah.jpg">
    <div class="caption">The tiny dead calf born to J35, or Tahlequah, is seen in this July photo alongside Tahlequah’s head as the mother carries her for an eighth straight day. (Steve Ringman/The Seattle Times)</div>

    <div class="constrained">
        <%= t.renderMarkdown(archieml.story.section13) %>
    </div>

    <div class="smallContainer">
        <div class="mediaContainer">
            <div class="mediaContainer-item-peanut">
                <img src="./assets/photos/hostileWaters_J50_peanuthead.jpg"></div>
            <div class="mediaContainer-item">
                <img src="./assets/photos/hostileWaters_northern_dorsal.jpg"></div>
        </div>
        <div class="caption">The misshapen head of J50, left, is a sign of starvation. She died in September. Meanwhile the northern residents, including the male at right, are growing in numbers. (Steve Ringman/The Seattle Times)</div>
    </div>


    <div class="constrained">
        <%= t.renderMarkdown(archieml.story.section14) %>
    </div>

    <div class="smallContainer">
        <video src="./assets/video/4-ns-antibiotic.mp4" autoplay playsinline loop muted></video>
        <div class="caption">Taking aim, veterinarian Martin Haulena of the Vancouver Aquarium delivers a dart full of antibiotics to J50, a critically ill southern resident killer whale, last summer. (Courtesy of Martin Haulena)</div>
    </div>

    <div class="constrained">
        <%= t.renderMarkdown(archieml.story.section15) %>
    </div>

    <img src="./assets/photos/hostileWaters_breach_mtbaker.jpg">
    <div class="caption">Mount Baker provides a spectacular backdrop for K20, a female born in 1986. Orcas can swim 75 miles a day and more, with bursts of speed up to 30 mph, and are capable of diving deeper than 3,000 feet. (Steve Ringman/The Seattle Times)</div>

    <div class="constrained">
        <%= t.renderMarkdown(archieml.story.section16) %>
    </div>

    <div class="constrained" style="font-weight:bold;font-style:italic">
        <%= t.renderMarkdown(archieml.story.section17) %>
    </div>

    <ul class="constrained">
        <h3 style="text-align:center;">CREDITS</h3>
        <div style="column-count:2;list-style-type: none">
        <li><strong>Reporter:</strong>  Lynda V. Mapes</li>
        <li><strong>Photographer:</strong>  Steve Ringman</li>
        <li><strong>Project editor:</strong>  Benjamin Woodard</li>
        <li><strong>Photo editor:</strong>  Fred Nelson</li>
        <li><strong>Videographer:</strong> Ramon Dompor</li>
        <li><strong>Video editor:</strong>  Lauren Frohne</li>
        <li><strong>Graphic artist:</strong>  Emily M. Eng</li>
        <li><strong>Art director and developer:</strong>  Frank Mina</li>
        <li><strong>Page designer:</strong>  Rita Wong</li>
        <li><strong>Engagement:</strong>  <br/>Sean Quinton, Gina Cole</li>
        <li><strong>Copy editor:</strong>  Laura Gordon</li>
        </div>

    </ul>
    <div class="constrained">
    <%= t.include("partials/_comments.html", { article: "239115994" }) %>
    </div>
    
    </main>


    <section class="text-block project-head" id="projects">
      <div class="constrained">
        
      </div>
    </section>
    
    <script src="app.js" async></script>
    <% if (json.project.production) { %>
    <%= !json.project.embedded ? t.include("partials/_analytics.html") : "" %>
    <%= t.include("partials/_workHere.html") %>
    <% } %>
  </body>
</html>
